In [ ]:
import pandas as pd

# **Data cleaning**

In [ ]:
file_path = 'Transactions.csv'
Transactions = pd.read_csv(file_path)

# Kiểm tra missing values
print(Transactions.isnull().sum())

# Xóa Missing
Transactions.dropna(inplace=True)

# Kiểm tra missing values sau khi xóa
print(Transactions.isnull().sum())

# Xóa dòng trùng lặp
Transactions.drop_duplicates(inplace=True)

# Tạo cột Revenue và Profit
Transactions['Revenue'] = Transactions['quantity_sold'] * Transactions['list_price']
Transactions['Profit'] = Transactions['Revenue'] - Transactions['quantity_sold'] * Transactions['standard_cost']

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order                 0
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
quantity_sold                0
dtype: int64
transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
quantity_sold              0
dtype: int64

In [ ]:
# CustomerAddress
file_path = 'CustomerAddress.csv'
CustomerAddress = pd.read_csv(file_path)
# Kiểm tra missing values
print(CustomerAddress.isnull().sum())

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64
customer_id                              0
name                                     0
gender                                   0
past_3_years_bike_related_purchases      0
age                                      0
job_title                              497
job_industry_category                    0
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                  87
dtype: int64

In [ ]:
# CustomerDemographic
file_path = 'CustomerDemographic.csv'
CustomerDemographic = pd.read_csv(file_path)
# Kiểm tra missing values
print(CustomerDemographic.isnull().sum())

customer_id                              0
name                                     0
gender                                   0
past_3_years_bike_related_purchases      0
age                                      0
job_title                              497
job_industry_category                    0
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                  87
dtype: int64

In [ ]:
Transactions.to_csv('Transactions1.csv', index=False)